<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>CAR</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous"/>

</head>
<body>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Add New Course</h1>
        <form method="post" action="/course/new" th:object="${course}">
            <div class="form-group">
                <label for="brand">course</label>
                <input type="text" class="form-control" id="brand" placeholder="Enter course" th:field="${course.nameInDanish}"
                       required="true"/>
            </div>



            <div class="form-group">
                <label for="inputTeacher">Teachers</label>
                <select id="inputTeacher" class="form-control" th:field="${course.teacher}" required="true">
                    <option value="" selected="true">Choose...</option>
                    <option th:each="teacher:${teachers}" th:value="${teacher.id}" th:text="${teacher.firstName}"></option>
                </select>
            </div>

            <button type="submit" class="btn btn-outline-success">Save</button>
            <button type="reset" class="btn btn-outline-danger">Reset</button>
        </form>
    </div>

</body>
</html>